footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;

  .logo-footer {
    color: var(--white-text-color);
  }

  .footer-address {
    color: var(--white-text-color);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    margin-bottom: 9px;
  }

  .footer-contacts {
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      color: var(--accent-text-color);
    }

    &:focus {
      color: var(--accent-text-color);
    }
  }
}

.footer {
  display: flex;
  align-items: baseline;
}

address {
  margin-top: 20px;
}

.footer-address-list {
  & li:first-child {
    margin-bottom: 9px;
  }
}

.footer-info {
  max-width: 231px;
}

.connection {
  margin-left: 70px;
}

.connection-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-icon {
  width: 20px;
  height: 20px;
  fill: var(--white-text-color);
}

.footer-links {
  background-color: rgba(255, 255, 255, 0.1);
}

.subscribe {
  margin-left: 93px;
}

.subscribe-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-text-color);
  margin-bottom: 20px;
}

.mail-form {
  display: flex;
}

.mail-form-input {
  margin-right: 12px;
  width: 358px;
  height: 50px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
  color: var(--white-text-color);
}

.subscribe-form-batton {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 29px;
}

.subscribe-icon {
  position: absolute;
  top: 50%;
  right: 28px;
  transform: translateY(-50%);
}
