:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-text-color: #2196f3;
  --white-text-color: #ffffff;
  --cards-shadow-color: #eeeeee;
  --primeary-text-family: 'Roboto', sans-serif;
}
